{% liquid
  assign theme_product = product
  if theme_product == blank
    assign theme_product = closest.product
  endif
  assign theme_id = theme_product.metafields.vibetv.theme_id.value | default: theme_product.metafields.theme.theme_id.value
  assign install_url = ''
  if theme_id != blank
    assign encoded_theme_id = theme_id | url_encode
    assign install_url = 'https://app.vibetv.shop/install/' | append: encoded_theme_id
  endif
%}

<div class="vtv-theme-install" data-vtv-theme-install>
  <style>
    .vtv-theme-install {
      display: grid;
      gap: 12px;
      margin-top: 4px;
    }
    .vtv-theme-install__note {
      margin: 0;
      color: rgb(var(--color-foreground-rgb, 27 27 27) / 0.72);
      font-size: 14px;
      line-height: 1.45;
    }
  </style>

  {% if install_url != blank %}
    <a class="button add-to-cart-button" href="{{ install_url }}">
      <span class="add-to-cart-text">
        <span class="add-to-cart-text__content">
          <span>Open in Control Center</span>
        </span>
      </span>
    </a>
    <p class="vtv-theme-install__note">The Control Center checks setup and opens this theme on your Mac.</p>
  {% else %}
    <button type="button" class="button add-to-cart-button" disabled>
      <span class="add-to-cart-text">
        <span class="add-to-cart-text__content">
          <span>Theme unavailable</span>
        </span>
      </span>
    </button>
  {% endif %}
</div>
